form label {
    padding-top: 10px;
}

.middle-box {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    z-index: 100;
}

.loginscreen.middle-box {
    width: 300px;
    margin-left: -150px;
}

.full-width {
    width: 100% !important;
}

.hoz-space {
    height: 10px;
}

.highlight {
    color: #72c02c;
}